<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= posts.name %></title>
    <!-- 부트스트랩 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/main.css" />
    <script
      src="https://kit.fontawesome.com/1f2a889857.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="container flex">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= posts.name %></h5>
          <div class="detail_head">
            <span class="detail_writer text-muted"
              >작성자: <%= posts.writer %></span
            >
            <span class="detail_date mb-2 text-muted"><%= posts.date %></span>
          </div>
          <hr />
          <div class="content_box">
            <p class="card-text"><%= posts.content %></p>
            <!-- <pre> 태그는 미리 정의된 형식의 텍스트를 HTML에 표현할 때 사용하는 태그다.
              <pre> 태그 내의 텍스트는 시스템에 미리 지정된 고정폭 글꼴을 사용하며,
              텍스트에 사용된 여백과 줄 바꿈을 그대로 브라우저 화면에 나타낸다. -->
            <% if(posts.upload){%>
            <img
              src="../public/image/<%= posts.upload %>"
              alt="<%= posts.upload %>"
              style="max-width: 800px; max-height: 800px"
            />
            <%}%>
          </div>
          <!-- 수정 및 삭제 --><!-- 수정 및 삭제 --><!-- 수정 및 삭제 -->
          <div class="modify_box">
            <% if(user){%> <% if( user.id == posts.writerId){ %>
            <div>
              <a
                href="/edit/<%= posts._id %>"
                class="btn btn-outline-primary modify"
                data-id="<%= posts._id %>"
                >수정하기</a
              >
              <button
                type="button"
                class="btn btn-outline-danger delete"
                data-id="<%= posts._id %>"
                data-user_id="<%= user.id %>"
                data-writer_id="<%= posts.writerId %>"
                data-writer="<%= posts.writer %>"
                data-upload="<%= posts.upload %>"
              >
                삭제
              </button>
            </div>
            <%}else if(user.id=='manager'){%>
            <button
              type="button"
              class="btn btn-outline-danger delete"
              data-id="<%= posts._id %>"
              data-user_id="<%= user.id %>"
              data-writer_id="<%= posts.writerId %>"
              data-writer="<%= posts.writer %>"
              data-upload="<%= posts.upload %>"
            >
              삭제
            </button>
            <%}%> <%} %>
          </div>
        </div>
        <hr />
        <!-- 댓글 --><!-- 댓글 --><!-- 댓글 --><!-- 댓글 -->
        <div>
          <h5 style="padding: 0 40px">Comments <%= comments.length %></h5>
          <hr />
          <ul class="cmt-area" style="list-style: none">
            <% if(comments.length >= 1){%> <% for (let i=0; i < comments.length;
            i++){ %>
            <li>
              <span class="comment_writer text-muted"
                ><b><%= comments[i].cmtWriter %></b></span
              >
              <span class="comment_date text-muted"
                ><%= comments[i].cmtDate %></span
              >
              <p style="margin: 0"><%= comments[i].cmtContent %></p>
              <hr />
            </li>
            <% } %> <%}else{%>
            <h6 class="text-muted">댓글이 없습니다.</h6>
            <%}%>
          </ul>
        </div>
        <div>
          <!-- 댓글 작성란 --><!-- 댓글 작성란 --><!-- 댓글 작성란 --><!-- 댓글 작성란 -->
          <% if(user){ %>
          <form class="cmt-form" method="POST" action="/comment">
            <textarea
              type="textarea"
              required
              id="cmt-write-area"
              class="form-control"
              maxlength="300"
            ></textarea>
            <button
              type="submit"
              class="btn btn-dark"
              id="cmt-btn"
              data-id="<%= posts._id %>"
              data-writer="<%= user.name %>"
            >
              작성
            </button>
          </form>
          <%}else{%>
          <form class="cmt-form">
            <textarea
              type="textarea"
              id="cmt-write-area"
              class="form-control"
              placeholder="로그인 후에 이용해 주세요"
              disabled
              style="cursor: not-allowed"
            ></textarea>
            <button
              type="submit"
              class="btn btn-dark"
              id="cmt-btn"
              disabled
              style="cursor: not-allowed"
            >
              작성
            </button>
          </form>
          <% }%>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(".delete").click((e) => {
        swal({
          title: "정말 삭제하시겠습니까?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((willDelete) => {
          if (willDelete) {
            if (e.target.dataset.upload) {
              $.ajax({
                method: "DELETE",
                url: "/delete",
                data: {
                  _id: e.target.dataset.id,
                  writerId: e.target.dataset.writer_id,
                  writer: e.target.dataset.writer,
                  upload: e.target.dataset.upload,
                },
              }).done(
                swal("삭제를 완료했습니다!", {
                  icon: "success",
                }).then((res) => {
                  console.log("삭제 완료");
                  location.replace("/");
                })
              );
            } else {
              $.ajax({
                method: "DELETE",
                url: "/delete",
                data: {
                  _id: e.target.dataset.id,
                  writerId: e.target.dataset.writer_id,
                  writer: e.target.dataset.writer,
                },
              }).done(
                swal("삭제를 완료했습니다!", {
                  icon: "success",
                }).then((res) => {
                  console.log("삭제 완료");
                  location.replace("/");
                })
              );
            }
          }
        });
      });
      $(".modify").click((e) => {
        e.preventDefault();
        swal({
          title: "수정하시겠습니까?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((willModify) => {
          if (willModify) {
            window.location.href = `/edit/${e.target.dataset.id}`;
          }
        });
      });
      $("#cmt-btn").click((e) => {
        let commentValue = $("textarea#cmt-write-area").val();
        let commentCount = $("p#cmtCount").val();
        const date = new Date();
        const year = date.getFullYear();
        const month = date.getMonth() + 1;
        const day = date.getDate();
        const hour = date.getHours();
        const minute = date.getMinutes();
        const second = date.getSeconds();
        const cmtTime = () => {
          if (second < 10 && minute < 10) {
            return `${year}.${month}.${day} ${hour}:0${minute}:0${second}`;
          } else if (minute < 10) {
            return `${year}.${month}.${day} ${hour}:0${minute}:${second}`;
          } else if (second < 10) {
            return `${year}.${month}.${day} ${hour}:${minute}:0${second}`;
          } else {
            return `${year}.${month}.${day} ${hour}:${minute}:${second}`;
          }
        };

        e.preventDefault();
        if (commentValue.length <= 0) {
          swal({
            title: "내용을 입력해주세요",
            icon: "warning",
          });
        } else {
          swal({
            title: "댓글을 작성하시겠습니까?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          }).then((willCmt) => {
            if (willCmt) {
              $.ajax({
                method: "POST",
                url: "/comment",
                data: {
                  comment: commentValue,
                  id: e.target.dataset.id,
                  cmtWriter: e.target.dataset.writer,
                  cmtTime: cmtTime,
                },
              }).done(
                swal("댓글을 작성했습니다.", {
                  icon: "success",
                }).then((res) => {
                  window.location.href = `/detail/${e.target.dataset.id}`;
                })
              );
            }
          });
        }
      });
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
