<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= posts.title %></title>
    <!-- JENNIFER Front 모니터링 -->
    <script>
      (function (j, ennifer) {
        j["dmndata"] = [];
        j["jenniferFront"] = function (args) {
          window.dmndata.push(args);
        };
        j["dmnaid"] = ennifer;
        j["dmnatime"] = new Date();
        j["dmnanocookie"] = false;
        j["dmnajennifer"] = "JENNIFER_FRONT@INTG";
      })(window, "1a32e5f6");
    </script>
    <!-- 부트스트랩 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script
      src="https://kit.fontawesome.com/1f2a889857.js"
      crossorigin="anonymous"
    ></script>
    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/icon/favicon-16x16.png"
    />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="container" id="detail_container">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= posts.title %></h5>
          <div class="detail_head">
            <span class="detail_writer text-muted"
              >작성자: <%= posts.writer %></span
            >
            <!-- <% if(posts.isModified){ %>

            <span class="detail_date mb-2 text-muted"
              ><%= posts.date %>(수정됨)</span
            >
            <% }else{%>
            <span class="detail_date mb-2 text-muted"><%= posts.date %></span>
            
            <% } %> -->
            <span class="detail_date mb-2 text-muted"><%= posts.date %></span>
          </div>
          <hr />
          <div class="content_box">
            <p class="card-text" id="card-content"><%= posts.content %></p>
            <!-- white-space: pre-line;로 개행 처리 적용 -->
            <!--<pre> 태그는 형태를 그대로 유지할 수 있지만 각 영역별로 서식을 꾸밀 수 없다.
              모든 텍스트는 시스템에서 지정한 폰트를 사용하게 되고 글이 길어 져서
              브라우저를 벗어나더라도 줄 바꿈이 일어나지 않는다.
              하지만 원하는 만큼 공백을 주거나 복잡한 단락 구조를 쉽게 표현할 수 있는 장점이 있으며,
              소스 표현할 때 많이 쓰인다.-->
            <% if(posts.upload){%> <% const str = posts.upload; const word =
            str.split('.');if(word[1] == 'mp4'){%>
            <video controls width="400" height="700" id="video">
              <source
                src="https://board-image-server.s3.ap-northeast-2.amazonaws.com/<%= posts.upload %>"
                type="video/webm"
              />
            </video>
            <%}else if(word[1] == 'mp3'){%>
            <audio controls id="audio">
              <source
                src="https://board-image-server.s3.ap-northeast-2.amazonaws.com/<%= posts.upload %>"
                type="audio/mpeg"
              />
            </audio>
            <%} else {%>
            <img
              src="https://board-image-server.s3.ap-northeast-2.amazonaws.com/<%= posts.upload %>"
              style="max-width: 800px; max-height: 800px"
            />
            <%}%>
            <!-- onclick="window.open(this.src)"
                웹페이지의 새로운 탭에서 작아진 이미지의 원본을 확인할 수 있다. -->
            <%}%>
          </div>
          <!-- 수정 및 삭제 시작 -->
          <div class="modify_box">
            <% if(user){%> <% if( user.id == posts.writerId){ %>
            <div>
              <a
                href="/edit/<%= posts._id %>"
                class="btn btn-outline-primary modify"
                data-id="<%= posts._id %>"
                >수정하기</a
              >
              <button
                type="button"
                class="btn btn-outline-danger delete"
                data-id="<%= posts._id %>"
                data-user_id="<%= user.id %>"
                data-writer_id="<%= posts.writerId %>"
                data-writer="<%= posts.writer %>"
                data-upload="<%= posts.upload %>"
              >
                삭제
              </button>
            </div>
            <%}else if(user.id=='manager'){%>
            <button
              type="button"
              class="btn btn-outline-danger delete"
              data-id="<%= posts._id %>"
              data-user_id="<%= user.id %>"
              data-writer_id="<%= posts.writerId %>"
              data-writer="<%= posts.writer %>"
              data-upload="<%= posts.upload %>"
            >
              삭제
            </button>
            <%}%> <%} %>
          </div>
          <!-- 수정 및 삭제 끝 -->
        </div>
        <hr />
        <!-- 댓글 시작 -->
        <div>
          <div class="CommentCount_container">
            <div class="CommentCount_icon">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.9135 13.5065L16.3398 13.201C16.2481 13.3732 16.2386 13.5776 16.314 13.7576L16.9135 13.5065ZM13.9851 16.6782L14.1803 16.0581C13.9968 16.0004 13.7971 16.0269 13.635 16.1305L13.9851 16.6782ZM17.8602 17.8978L18.0554 17.2778H18.0554L17.8602 17.8978ZM18.4716 17.2278L17.872 17.4788L18.4716 17.2278ZM17.2598 9.5C17.2598 10.8397 16.9267 12.0991 16.3398 13.201L17.4872 13.8121C18.1719 12.5265 18.5598 11.0578 18.5598 9.5H17.2598ZM9.4549 1.65C13.7622 1.65 17.2598 5.1613 17.2598 9.5H18.5598C18.5598 4.44986 14.4867 0.35 9.4549 0.35V1.65ZM1.65 9.5C1.65 5.1613 5.14763 1.65 9.4549 1.65V0.35C4.42315 0.35 0.35 4.44986 0.35 9.5H1.65ZM9.4549 17.35C5.14763 17.35 1.65 13.8387 1.65 9.5H0.35C0.35 14.5501 4.42315 18.65 9.4549 18.65V17.35ZM13.635 16.1305C12.4268 16.9028 10.9937 17.35 9.4549 17.35V18.65C11.2495 18.65 12.9245 18.1276 14.3352 17.2258L13.635 16.1305ZM18.0554 17.2778L14.1803 16.0581L13.79 17.2982L17.6651 18.5178L18.0554 17.2778ZM17.872 17.4788C17.8227 17.3611 17.9336 17.2395 18.0554 17.2778L17.6651 18.5178C18.5986 18.8116 19.4491 17.8794 19.0711 16.9767L17.872 17.4788ZM16.314 13.7576L17.872 17.4788L19.0711 16.9767L17.5131 13.2555L16.314 13.7576Z"
                  fill="#333236"
                ></path>
              </svg>
              <h5>댓글 <%= comments.length %>개</h5>
            </div>
          </div>
          <hr />
          <ul class="cmt-area" style="list-style: none">
            <% if(comments.length >= 1){%> <% for (let i=0; i < comments.length;
            i++){ %>
            <li>
              <span class="comment_writer text-muted"
                ><b><%= comments[i].cmtWriter %></b></span
              >
              <span class="comment_date text-muted"
                ><%= comments[i].cmtDate %></span
              >
              <%if(user){%> <%if(comments[i].cmtWriter == user.name || user.id
              == 'manager'){%>
              <span
                class="comment_delete text-muted"
                data-cmt_no="<%= comments[i].cmtNo %>"
                data-user_id="<%= user.id %>"
                data-id="<%= posts._id %>"
                >삭제</span
              >
              <%} %> <%} %>
              <p class="card-text"><%= comments[i].cmtContent %></p>
              <hr />
            </li>
            <% } %> <%}else{%>
            <h6 class="text-muted">댓글이 없습니다.</h6>
            <%}%>
          </ul>
        </div>
        <!-- 댓글 끝 -->
        <!-- 댓글 작성란 시작 -->
        <div>
          <% if(user){ %>
          <form class="cmt-form" method="POST" action="/comment">
            <textarea
              type="textarea"
              required
              id="cmt-write-area"
              class="form-control"
              maxlength="300"
              placeholder="댓글 입력하기"
            ></textarea>
            <button
              type="submit"
              class="btn btn-dark"
              data-category="<%= posts.category %>"
              id="cmt-btn"
              data-id="<%= posts._id %>"
              data-writer="<%= user.name %>"
            >
              작성
            </button>
          </form>
          <%}else{%>
          <form class="cmt-form">
            <textarea
              type="textarea"
              id="cmt-write-area"
              class="form-control"
              placeholder="로그인 후에 이용해 주세요"
              disabled
              style="cursor: not-allowed"
            ></textarea>
            <button
              type="submit"
              class="btn btn-dark"
              id="cmt-btn"
              disabled
              style="cursor: not-allowed"
            >
              작성
            </button>
          </form>
          <% }%>
        </div>
        <!-- 댓글 작성란 끝 -->
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      // 비디오 볼륨 조절
      document.querySelector("#video")
        ? (document.querySelector("#video").volume = 0.3)
        : null;
      document.querySelector("#audio")
        ? (document.querySelector("#audio").volume = 0.3)
        : null;
      $(".delete").click((e) => {
        swal({
          title: "정말 삭제하시겠습니까?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((willDelete) => {
          if (willDelete) {
            if ("<%= posts.category %>" == "notice") {
              if (e.target.dataset.upload) {
                $.ajax({
                  method: "delete",
                  url: "/noticeDelete",
                  data: {
                    _id: e.target.dataset.id,
                    writerId: e.target.dataset.writer_id,
                    writer: e.target.dataset.writer,
                    upload: e.target.dataset.upload,
                  },
                }).then(
                  swal({
                    title: "삭제를 완료했습니다!",
                    icon: "success",
                  }).then((res) => {
                    location.replace("/");
                  })
                );
              } else {
                $.ajax({
                  method: "delete",
                  url: "/noticeDelete",
                  data: {
                    _id: e.target.dataset.id,
                    writerId: e.target.dataset.writer_id,
                    writer: e.target.dataset.writer,
                  },
                }).then(
                  swal({
                    title: "삭제를 완료했습니다!",
                    icon: "success",
                  }).then((res) => {
                    console.log("삭제 완료");
                    location.replace("/");
                  })
                );
              }
            } else {
              if (e.target.dataset.upload) {
                $.ajax({
                  method: "delete",
                  url: "/delete",
                  data: {
                    _id: e.target.dataset.id,
                    writerId: e.target.dataset.writer_id,
                    writer: e.target.dataset.writer,
                    upload: e.target.dataset.upload,
                  },
                }).then(
                  swal({
                    title: "삭제를 완료했습니다!",
                    icon: "success",
                  }).then((res) => {
                    location.replace("/");
                  })
                );
              } else {
                $.ajax({
                  method: "delete",
                  url: "/delete",
                  data: {
                    _id: e.target.dataset.id,
                    writerId: e.target.dataset.writer_id,
                    writer: e.target.dataset.writer,
                  },
                }).then(
                  swal({
                    title: "삭제를 완료했습니다!",
                    icon: "success",
                  }).then((res) => {
                    console.log("삭제 완료");
                    location.replace("/");
                  })
                );
              }
            }
          }
        });
      });
      $(".modify").click((e) => {
        e.preventDefault();
        swal({
          title: "수정하시겠습니까?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((willModify) => {
          if (willModify) {
            if ("<%= posts.category %>" == "notice") {
              window.location.href = `/noticeEdit/${e.target.dataset.id}`;
            } else {
              window.location.href = `/edit/${e.target.dataset.id}`;
            }
          }
        });
      });
      $("#cmt-btn").click((e) => {
        let commentValue = $("textarea#cmt-write-area").val();
        let commentCount = $("p#cmtCount").val();
        const date = new Date();
        const year = date.getFullYear();
        const month = date.getMonth() + 1;
        const day = date.getDate();
        const hour = date.getHours();
        const minute = date.getMinutes();
        const second = date.getSeconds();
        const cmtTime = () => {
          if (second < 10 && minute < 10) {
            return `${year}.${month}.${day} ${hour}:0${minute}:0${second}`;
          } else if (minute < 10) {
            return `${year}.${month}.${day} ${hour}:0${minute}:${second}`;
          } else if (second < 10) {
            return `${year}.${month}.${day} ${hour}:${minute}:0${second}`;
          } else {
            return `${year}.${month}.${day} ${hour}:${minute}:${second}`;
          }
        };

        e.preventDefault();
        if (commentValue.length <= 0) {
          swal({
            title: "내용을 입력해주세요",
            icon: "warning",
          });
        } else {
          swal({
            title: "댓글을 작성하시겠습니까?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          }).then((willCmt) => {
            if (willCmt) {
              if (e.target.dataset.category == "notice") {
                $.ajax({
                  method: "post",
                  url: "/comment",
                  data: {
                    comment: commentValue,
                    id: e.target.dataset.id,
                    cmtWriter: e.target.dataset.writer,
                    cmtTime: cmtTime,
                  },
                }).then(
                  swal({
                    title: "댓글을 작성했습니다.",
                    icon: "success",
                  }).then((res) => {
                    window.location.href = `/noticeDetail/${e.target.dataset.id}`;
                  })
                );
              } else {
                $.ajax({
                  method: "post",
                  url: "/comment",
                  data: {
                    comment: commentValue,
                    id: e.target.dataset.id,
                    cmtWriter: e.target.dataset.writer,
                    cmtTime: cmtTime,
                  },
                }).then(
                  swal({
                    title: "댓글을 작성했습니다.",
                    icon: "success",
                  }).then((res) => {
                    window.location.href = `/detail/${e.target.dataset.id}`;
                  })
                );
              }
            }
          });
        }
      });
      $(".comment_delete").click((e) => {
        swal({
          title: "정말 삭제하시겠습니까?",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((willDelete) => {
          if (willDelete) {
            $.ajax({
              method: "delete",
              url: "/cmtDelete",
              data: {
                _id: e.target.dataset.id,
                cmtNo: e.target.dataset.cmt_no,
              },
            }).then(
              swal({
                title: "삭제를 완료했습니다!",
                icon: "success",
              }).then((res) => {
                console.log("삭제 완료");
                location.reload();
              })
            );
          }
        });
      });
    </script>
    <script>
      $("#searchBtn").click(() => {
        let searchValue = $("#searchInput").val();
        if (searchValue.length == 0) {
          swal({
            title: "검색어를 입력해주세요",
            icon: "warning",
          });
        } else {
          let inputValue = $("#searchInput").val();
          window.location.replace(`/search?value=${inputValue}`);
        }
      });
      $("#searchInput").on("keypress", (e) => {
        if (e.key === "Enter") {
          let searchValue = $("#searchInput").val();
          if (searchValue.length == 0) {
            swal({
              title: "검색어를 입력해주세요",
              icon: "warning",
            });
          } else {
            let inputValue = $("#searchInput").val();
            window.location.replace(`/search?value=${inputValue}`);
          }
        }
      });
      $(".loginCheck").click((e) => {
        e.preventDefault();
        swal({
          title: "글 쓰기는 로그인 후 이용가능합니다.",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((loginCheck) => {
          if (loginCheck) {
            $.ajax({
              method: "get",
              url: "write",
            })
              .then((result) => {
                window.location.href = "/write";
              })
              .fail((xhr, code, err) => {
                console.log(xhr, code, err);
              });
          }
        });
      });
    </script>
    <script
      async
      src="https://d-collect.jennifersoft.com/1a32e5f6/demian.js"
    ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
