<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <!-- JENNIFER Front 모니터링 -->
    <script>
      (function (j, ennifer) {
        j["dmndata"] = [];
        j["jenniferFront"] = function (args) {
          window.dmndata.push(args);
        };
        j["dmnaid"] = ennifer;
        j["dmnatime"] = new Date();
        j["dmnanocookie"] = false;
        j["dmnajennifer"] = "JENNIFER_FRONT@INTG";
      })(window, "1a32e5f6");
    </script>
    <!-- 부트스트랩 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="input-group mb-2">
      <input class="form-control" id="search_input" />
      <button class="input-group-append btn btn-success" id="search">
        <i class="bi bi-search"></i>
      </button>
    </div>
    <div class="container">
      <ul class="list-group p-5">
        <% for(let i = 0; i < posts.length; i++){ %>
        <a href="/detail/<%= posts[i]._id %>" id="link">
          <li
            class="list-group-item list-group-item-action list"
            data-id="<%= posts[i]._id %>"
          >
            <div class="date_box">
              <div>
                <p class="list_no">no. <%= posts[i]._id %></p>
              </div>
              <div>
                <p class="list_date"><%= posts[i].date %></p>
              </div>
            </div>
            <h4 class="list_title">
              <%if(posts[i].cmtCount){%> <%= posts[i].name %>
              <b>[<%= posts[i].cmtCount %>]</b>
              <%}else {%> <%= posts[i].name %> <%}%>
            </h4>
            <div class="btnBox">
              <p class="list_writer">작성자: <%= posts[i].writer %></p>
              <!-- <div style="flex: 1"></div> -->
            </div>
          </li>
        </a>
        <hr />
        <% } %>
      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $("#search").click(() => {
        $("#search").click(() => {
          let searchValue = $("#search_input").val();
          if (searchValue.length == 0) {
            swal("검색어를 입력해주세요", {
              icon: "warning",
            });
          } else {
            let inputValue = $("#search_input").val();
            window.location.replace(`/search?value=${inputValue}`);
          }
        });
      });
    </script>
    <script
      async
      src="https://d-collect.jennifersoft.com/c2139738/demian.js"
    ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
