<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>search</title>
    <!-- 부트스트랩 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="container">
      <div class="input-group mb-2">
        <input class="form-control" id="search_input" />
        <button class="input-group-append btn btn-success" id="search">
          <i class="bi bi-search"></i>
        </button>
        <% if(user) { %>
        <a href="/write">
          <button class="input-group-append btn btn-primary">
            <i class="bi bi-pen"></i>
          </button>
        </a>
        <% } else { %>
        <a href="/write" class="loginCheck">
          <button class="input-group-append btn btn-primary">
            <i class="bi bi-pen"></i>
          </button>
        </a>
        <% } %>
      </div>
    </div>
    <div class="container">
      <ul class="list-group p-5">
        <% for(let i = 0; i < posts.length; i++){ %>
        <a href="/detail/<%= posts[i]._id %>" id="link">
          <li
            class="list-group-item list-group-item-action list"
            data-id="<%= posts[i]._id %>"
          >
            <div class="date_box">
              <p class="list_no">no. <%= posts[i]._id %></p>
              <div style="flex: 1"></div>
              <p class="list_date"><%= posts[i].date %></p>
            </div>
            <div class="list_title_box">
              <% if(posts[i].cmtCount) {%>
              <h4 class="list_title"><%= posts[i].title %></h4>
              <h4 class="list_cmtNo"><b>[<%= posts[i].cmtCount %>]</b></h4>
              <%}else{%>
              <h4 class="list_title"><%= posts[i].title %></h4>
              <%}%>
            </div>
            <div class="btnBox">
              <p class="list_writer">작성자: <%= posts[i].writer %></p>
              <div style="flex: 1"></div>
            </div>
          </li>
        </a>
        <hr />
        <% } %>
      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
    <script>
      $("#search_input").on("keypress", (e) => {
        if (e.key === "Enter") {
          let searchValue = $("#search_input").val();
          if (searchValue.length == 0) {
            swal("검색어를 입력해주세요", {
              icon: "warning",
            });
          } else {
            let inputValue = $("#search_input").val();
            window.location.replace(`/search?value=${inputValue}`);
          }
        }
      });
      $(".loginCheck").click((e) => {
        e.preventDefault();
        swal({
          title: "글 쓰기는 로그인 후 이용가능합니다.",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((loginCheck) => {
          if (loginCheck) {
            $.ajax({
              method: "GET",
              url: "/write",
            })
              .done((result) => {
                window.location.href = "/write";
              })
              .fail((xhr, code, err) => {
                console.log(xhr, code, err);
              });
          }
        });
      });
    </script>
  </body>
</html>
